<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="ShortBase" value="${longdate} | ${level:upperCase=true} | ${message}"/>
  <variable name="Detailed" value="${var:ShortBase} | ${machinename} | ${processid} | ${processname} | ${callsite:includSourcePath=true}"/>
  <variable name="DetailedException" value="${var:Detailed} | ${exception:format=ToString,StackTrace}" />


  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
          layout="${var:DetailedException}"/>
    <target xsi:type="File" name="fatalFile" fileName="${basedir}/logs/${shortdate}.log"
          layout="${var:DetailedException}"/>
    <target xsi:type="File" name="failedCommands" fileName="${basedir}/logs/FailedCommands.log"
          layout="${var:ShortBase}"/>

    <target xsi:type="Console"
          name="console"
          layout="${var:ShortBase}"
          detectConsoleAvailable="true" />
  </targets>

  <rules>
    <logger name="FailedCommands" minlevel="Trace" writeTo="failedCommands" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Fatal" writeTo="fatalFile" />
  </rules>
</nlog>
